@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-blue: #064b87;
  --clr-headblue: #084d77;
  --clr-border: #d9d9d9;
  --clr-iptxt: #666666;
  --clr-subhead: #5c5c5c;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-weight: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-weight: 300;
  line-height: 1.4;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input,
textarea,
select {
  margin: 0;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

textarea {
  overflow: auto;
}

button::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner {
  padding: 0 !important;
  border: 0 none !important;
}

mark {
  background: none;
  color: inherit;
}

strong {
  font-weight: bold;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  width: 100%;
  min-height: 100%;
  color: var(--clr-black);
  background-color: var(--clr-white);
}

a,
button,
input {
  outline: none;
}

a,
a:hover {
  text-decoration: none;
}

p,
li {
  margin-bottom: 0;
}

button {
  border: 0;
  background-color: transparent;
}

*:focus {
  outline: none;
}

.content-wrapper {
  width: 100%;
  max-width: 1240px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
}

.desk-visible {
  display: block;
}

.only-mobile {
  display: none;
}

.hide-mobile-tablet {
  display: block;
}

.only-mobile-tablet {
  display: none;
}

@media (max-width: 1023px) {
  .content-wrapper {
    padding-left: 32px;
    padding-right: 32px;
  }
  .hide-mobile-tablet {
    display: none;
  }
  .only-mobile-tablet {
    display: block;
  }
}
@media (max-width: 767px) {
  .content-wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }
  .desk-visible {
    display: none;
  }
  .only-mobile {
    display: block;
  }
}
.tc-button {
  background-color: var(--clr-blue);
  border: 1px solid var(--clr-blue);
  border-radius: 6px;
  padding: 8px 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.tc-button span {
  margin-right: 8px;
  color: var(--clr-white);
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
}
.tc-button svg {
  width: 21px;
  height: 21px;
  transition: 0.3s;
}
.tc-button:hover {
  transition: 0.3s;
  background-color: var(--clr-white);
}
.tc-button:hover span {
  color: var(--clr-blue);
  transition: 0.3s;
}
.tc-button:hover svg {
  transition: 0.3s;
  transform: translateX(5px);
}
.tc-button:hover svg path {
  stroke: var(--clr-blue);
}

.tc-input {
  position: relative;
}
.tc-input input {
  border: 1px solid var(--clr-border);
  width: 100%;
  padding: 10px 8px;
  color: var(--clr-iptxt);
  font-size: 13px;
  font-weight: 400;
}
.tc-input input[type=number] {
  -moz-appearance: textfield;
}
.tc-input input[type=number]::-webkit-inner-spin-button,
.tc-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.tc-input__icon {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 14px;
  height: auto;
}
.tc-input__icon img {
  width: 100%;
  height: 100%;
}

.tc-title {
  padding-bottom: 32px;
}
.tc-title h1 {
  color: var(--clr-headblue);
  font-size: 36px;
  line-height: 54px;
  font-weight: 500;
  padding-bottom: 24px;
}
.tc-title p {
  color: var(--clr-subhead);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.tc-title--banner h1,
.tc-title--banner p {
  color: var(--clr-white);
}

@media (max-width: 767px) {
  .tc-title h1 {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
  }
  .tc-title p {
    text-align: center;
  }
}
.tc-datatile {
  border-radius: 10px;
  overflow: hidden;
}
.tc-datatile img {
  width: 100%;
  height: auto;
  display: block;
}
.tc-datatile__block {
  background-color: var(--clr-white);
  padding: 16px;
  color: #3b3b3b;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .tc-datatile__block {
    min-height: 73px;
    display: flex;
    align-items: center;
    font-size: 14px;
  }
}
.tc-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tc-details img {
  width: 55px;
  height: auto;
}
.tc-details p {
  font-size: 16px;
  font-weight: 400;
  padding-top: 24px;
  text-align: center;
  color: var(--clr-white);
}

.tc-bannpop {
  margin-top: -70px;
}
.tc-bannpop__outer {
  display: flex;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  overflow: hidden;
}
.tc-bannpop__left {
  background-color: var(--clr-blue);
  width: 30%;
  padding: 32px 24px;
}
.tc-bannpop__left h5 {
  font-size: 16px;
  font-weight: 600;
  color: var(--clr-white);
  padding-bottom: 16px;
}
.tc-bannpop__left p {
  font-size: 16px;
  font-weight: 300;
  color: var(--clr-white);
}
.tc-bannpop__right {
  width: 70%;
  padding: 24px;
  background-color: var(--clr-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tc-bannpop__sec {
  display: flex;
  justify-content: space-around;
}
.tc-bannpop__sec .tc-details {
  display: flex;
  flex-direction: row;
}
.tc-bannpop__sec .tc-details p {
  padding-top: 0;
  color: #5c5c5c;
  font-size: 15px;
  font-weight: 300;
  padding-left: 16px;
  text-align: left;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .tc-bannpop__left {
    width: 40%;
  }
  .tc-bannpop__right {
    width: 60%;
  }
  .tc-bannpop .tc-bannpop__sec .tc-details {
    flex-direction: column;
  }
  .tc-bannpop .tc-bannpop__sec .tc-details p {
    padding: 16px 0 0 0;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .tc-bannpop__outer {
    flex-direction: column;
    padding-top: 32px;
  }
  .tc-bannpop__left {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .tc-bannpop__right {
    width: 100%;
    padding: 24px 0;
  }
  .tc-bannpop .tc-bannpop__sec .tc-details {
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    padding-bottom: 24px;
  }
  .tc-bannpop .tc-bannpop__sec .tc-details p {
    padding: 0 16px;
    padding-top: 16px;
    text-align: center;
  }
  .tc-bannpop .tc-bannpop__sec .tc-details p br {
    display: none;
  }
  .tc-bannpop .tc-bannpop__sec {
    flex-wrap: wrap;
  }
  .tc-bannpop .tc-bannpop__left h5 {
    text-align: center;
  }
  .tc-bannpop .tc-bannpop__left p {
    text-align: center;
  }
}
.tc-count {
  display: inline-flex;
  align-items: center;
  border-radius: 15px;
  padding: 32px;
  background-color: var(--clr-white);
  background-color: rgba(255, 255, 255, 0.8784313725);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.tc-count h3 {
  color: #2d82e5;
  font-size: 24px;
  font-weight: bold;
}
.tc-count p {
  color: #5c5c5c;
  font-size: 15px;
  font-weight: 300;
  padding-left: 24px;
}

.tc-banner {
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tc-banner__cnt {
  height: 570px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}
.tc-banner__cnt .tc-button {
  width: 50%;
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .tc-banner {
    background-position: left;
  }
  .tc-banner__cnt {
    width: 50%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .tc-banner {
    background-position: left;
  }
  .tc-banner__cnt {
    width: 70%;
  }
}
@media (max-width: 767px) {
  .tc-banner {
    background-position: left;
  }
  .tc-banner__cnt {
    width: 100%;
    height: 450px;
  }
  .tc-banner__cnt .tc-button {
    width: 65%;
  }
}
.tc-dcloud {
  padding: 32px 0;
}
.tc-dcloud .tc-title {
  text-align: center;
  padding-bottom: 190px;
}
.tc-dcloud__sec-one {
  border-top-right-radius: 15px;
  border-top-left-radius: 10px;
  background: radial-gradient(105.19% 408.75% at 95.73% -5.19%, #2377a7 0%, #003e76 100%);
  padding: 32px;
}
.tc-dcloud__sec-one h6 {
  color: var(--clr-white);
  font-size: 16px;
  font-weight: 400;
  padding: 32px 0;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.tc-dcloud__outer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
  margin-top: -170px;
}
.tc-dcloud__outer .tc-datatile {
  width: calc(25% - 32px);
  margin: 0 16px;
}
.tc-dcloud__sec-two {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 10px;
  padding: 32px;
  background: radial-gradient(105.19% 408.75% at 95.73% -5.19%, #063c6c 0%, #123244 100%);
}
.tc-dcloud__out {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
  margin-top: -60px;
}
.tc-dcloud__out .tc-details {
  width: calc(25% - 32px);
  margin: 0 16px;
}

@media (max-width: 767px) {
  .tc-dcloud .tc-title {
    padding-bottom: 0;
  }
  .tc-dcloud__sec-one {
    padding: 24px;
    margin-top: 32px;
  }
  .tc-dcloud__outer {
    margin-top: 0;
  }
  .tc-dcloud__outer .tc-datatile {
    width: calc(100% - 32px);
    margin: 0 16px;
    margin-bottom: 24px;
  }
  .tc-dcloud__out {
    margin-top: 0;
  }
  .tc-dcloud__out .tc-details {
    width: calc(50% - 32px);
    margin: 0 16px;
    padding-bottom: 24px;
  }
  .tc-dcloud__out .tc-details p {
    font-size: 14px;
    font-weight: 500;
  }
  .tc-dcloud__sec-two {
    padding: 24px;
  }
}
.tc-request {
  background-image: linear-gradient(to right, #eef1f1, #f4f6f6);
}
.tc-request__out {
  display: flex;
  align-items: center;
}
.tc-request__left {
  width: 40%;
  padding: 32px;
  background-color: #eef1f1;
}
.tc-request__right {
  padding: 32px 24px;
  width: 60%;
  background-color: #f4f6f6;
}
.tc-request__input-out {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
}
.tc-request__input-out .tc-input {
  width: calc(50% - 16px);
  margin: 0 8px;
  margin-bottom: 16px;
}
.tc-request__dropdwn {
  width: calc(50% - 16px);
  margin: 0 8px;
  margin-bottom: 16px;
  display: flex;
}
.tc-request__dropdwn select {
  border: 1px solid var(--clr-border);
  color: var(--clr-iptxt);
  font-size: 13px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: 1px solid #ccc;
  border-right: 0;
  padding: 8px;
}
.tc-request__dropdwn .tc-input {
  width: 100%;
  margin: 0;
}
.tc-request__txtarea {
  position: relative;
}
.tc-request__txtarea textarea {
  border: 1px solid var(--clr-border);
  padding: 8px;
  width: 100%;
  font-size: 13px;
  color: var(--clr-iptxt);
}
.tc-request__txtarea textarea .tc-input__icon {
  position: absolute;
  right: 8px;
  top: 10px;
  width: 15px;
  height: auto;
}
.tc-request__txtarea textarea .tc-input__icon img {
  width: 100%;
  height: 100%;
}
.tc-request .tc-button {
  margin-top: 32px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .tc-request__left {
    width: 50%;
  }
  .tc-request__right {
    width: 50%;
  }
  .tc-request__input-out .tc-input {
    width: calc(100% - 16px);
  }
  .tc-request__dropdwn {
    width: calc(100% - 16px);
  }
}
@media (max-width: 767px) {
  .tc-request .content-wrapper {
    padding: 0;
  }
  .tc-request__out {
    flex-direction: column;
  }
  .tc-request__left {
    width: 100%;
  }
  .tc-request__right {
    width: 100%;
  }
  .tc-request__input-out .tc-input {
    width: calc(100% - 16px);
  }
  .tc-request__dropdwn {
    width: calc(100% - 16px);
  }
}
.tc-request {
  background-image: linear-gradient(to right, #eef1f1, #f4f6f6);
}
.tc-request__out {
  display: flex;
  align-items: center;
}
.tc-request__left {
  width: 40%;
  padding: 32px;
  background-color: #eef1f1;
}
.tc-request__right {
  padding: 32px 24px;
  width: 60%;
  background-color: #f4f6f6;
}
.tc-request__input-out {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
}
.tc-request__input-out .tc-input {
  width: calc(50% - 16px);
  margin: 0 8px;
  margin-bottom: 16px;
}
.tc-request__dropdwn {
  width: calc(50% - 16px);
  margin: 0 8px;
  margin-bottom: 16px;
  display: flex;
}
.tc-request__dropdwn select {
  border: 1px solid var(--clr-border);
  color: var(--clr-iptxt);
  font-size: 13px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: 1px solid #ccc;
  border-right: 0;
  padding: 8px;
}
.tc-request__dropdwn .tc-input {
  width: 100%;
  margin: 0;
}
.tc-request__txtarea {
  position: relative;
}
.tc-request__txtarea textarea {
  border: 1px solid var(--clr-border);
  padding: 8px;
  width: 100%;
  font-size: 13px;
  color: var(--clr-iptxt);
}
.tc-request__txtarea textarea .tc-input__icon {
  position: absolute;
  right: 8px;
  top: 10px;
  width: 15px;
  height: auto;
}
.tc-request__txtarea textarea .tc-input__icon img {
  width: 100%;
  height: 100%;
}
.tc-request .tc-button {
  margin-top: 32px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .tc-request__left {
    width: 50%;
  }
  .tc-request__right {
    width: 50%;
  }
  .tc-request__input-out .tc-input {
    width: calc(100% - 16px);
  }
  .tc-request__dropdwn {
    width: calc(100% - 16px);
  }
}
@media (max-width: 767px) {
  .tc-request .content-wrapper {
    padding: 0;
  }
  .tc-request__out {
    flex-direction: column;
  }
  .tc-request__left {
    width: 100%;
  }
  .tc-request__right {
    width: 100%;
  }
  .tc-request__input-out .tc-input {
    width: calc(100% - 16px);
  }
  .tc-request__dropdwn {
    width: calc(100% - 16px);
  }
}
.tc-clients__out {
  display: flex;
  align-items: center;
  height: 450px;
  margin: 50px 0 0 0;
}
.tc-clients__left {
  width: 40%;
  padding-right: 32px;
}
.tc-clients__right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  position: relative;
}
.tc-clients__shake {
  position: absolute;
  width: 60%;
  height: auto;
}
.tc-clients__shake img {
  width: 100%;
  height: 100%;
}
.tc-clients__client-out {
  width: 100%;
  position: relative;
}
.tc-clients__box-out {
  padding-bottom: 40px;
  transform: translate(0px, -70px);
}
.tc-clients__box-outnxt {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1023px) {
  .tc-clients__out {
    flex-direction: column;
  }
  .tc-clients__left {
    width: 100%;
    padding-right: 0;
  }
  .tc-clients__right {
    width: 100%;
    flex-direction: column;
  }
  .tc-clients .tc-count {
    margin-bottom: 32px;
    width: 100%;
  }
  .tc-clients__box-out {
    padding-bottom: 0;
    transform: translate(0px, 0px);
  }
  .tc-clients__box-outnxt {
    flex-direction: column;
  }
  .tc-clients__shake {
    position: static;
    padding-bottom: 32px;
    width: 80%;
  }
  .tc-clients .tc-clients__out {
    height: auto;
  }
}
.tc-footer {
  background-color: #150d2b;
  padding: 40px 0;
}
.tc-footer__out {
  display: flex;
  justify-content: space-between;
}
.tc-footer__left {
  width: 50%;
}
.tc-footer__right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.tc-footer__privacy {
  display: flex;
  padding-bottom: 32px;
}
.tc-footer__privacy p {
  width: 33%;
  position: relative;
}
.tc-footer__privacy p:last-child::after {
  display: none;
}
.tc-footer__privacy p::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  background-color: var(--clr-white);
  right: 23%;
  top: 0;
  transition: 0.3s;
}
.tc-footer__privacy p a {
  color: var(--clr-white);
  font-size: 16px;
  font-weight: 300;
  position: relative;
}
.tc-footer__privacy p a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 1px;
  background-color: var(--clr-white);
  left: 0;
  bottom: 0;
  transition: 0.3s;
}
.tc-footer__privacy p a:hover::after {
  width: 100%;
  transition: 0.3s;
}
.tc-footer__social {
  display: block;
  padding-bottom: 32px;
}
.tc-footer__social a {
  width: 26px;
  height: auto;
  margin-right: 16px;
  display: inline-block;
  transition: 0.3s;
}
.tc-footer__social a:nth-child(2) {
  width: 11px;
}
.tc-footer__social a:nth-child(3) {
  width: 24px;
}
.tc-footer__social a:nth-child(4) {
  width: 21px;
}
.tc-footer__social a img {
  width: 100%;
  height: 100%;
}
.tc-footer__social a:hover {
  transition: 0.3s;
  scale: 1.1;
}
.tc-footer__copy {
  color: rgba(255, 255, 255, 0.5607843137);
  font-size: 16px;
  font-weight: 300;
}
.tc-footer__cirti p {
  color: var(--clr-white);
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 32px;
}
.tc-footer__cirti__ios {
  display: flex;
  align-items: center;
}
.tc-footer__cirti__ios a {
  width: 110px;
  height: auto;
  display: inline-flex;
  margin-right: 24px;
}
.tc-footer__cirti__ios a img {
  width: 100%;
  height: auto;
}
.tc-footer__cirti__ios a:nth-child(2) {
  width: 65px;
}
.tc-footer__cirti__ios a:nth-child(3) {
  width: 50px;
  margin-right: 0;
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .tc-footer .tc-footer__privacy p::after {
    right: 13%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .tc-footer .tc-footer__privacy p::after {
    display: none;
  }
}
@media (max-width: 767px) {
  .tc-footer__out {
    flex-direction: column;
  }
  .tc-footer__left {
    width: 100%;
  }
  .tc-footer__right {
    width: 100%;
  }
  .tc-footer .tc-footer__privacy p a {
    font-size: 14px;
  }
  .tc-footer .tc-footer__privacy p::after {
    right: 8%;
  }
  .tc-footer .tc-footer__right {
    justify-content: flex-start;
    padding-top: 24px;
  }
}